.zoom-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    z-index: 2;

    position: absolute;
    right: 20px;
}

.zoom-container button {
    background-color: rgb(240, 240, 240);
    border: none;
    width: 35px;
    height: 35px;

    font-size: 20px;
    cursor: pointer;
}

.zoom-container select {
    background-color: rgb(240, 240, 240);
    border: none;
    height: 35px;

    cursor: pointer;
}

.zoom-container button:hover {
    background-color: rgb(223, 223, 223);
}
